.panel-group {
	margin-top: 20px;
}
.panel-heading {
	position: relative;
}
.panel-heading .accordion-toggle:hover, .panel-heading .accordion-toggle:focus {
	text-decoration: none;
}
.panel-heading .accordion-toggle:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}
.panel-heading .accordion-toggle:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}
.panel-heading .accordion-toggle.collapsed:after {
	content: "\e080";
}
.panel-heading .glyphicon {
	position: absolute;
	top: 10px;
	font-size: 20px;
	color: grey;
	cursor: pointer;
}
.panel-heading .glyphicon-envelope {
	right: 80px;
}
.panel-heading .glyphicon-remove {
	right: 40px;
}
.feed-source-image {
	max-height: 13px;
	margin-bottom: 2px;
	margin-right: 13px;
}
.panel-default.feed-new > .panel-heading {
	background-color: #e9ffc7;
}
.feed-control-container {
	text-align: center;
}